%p#notice= notice

%p
  %b Name:
  = @font.name
%p
  %b Filename:
  = @font.filename
%p
  %b Description:
  = @font.description
%p
  %b Link:
  = @font.link

= link_to 'Edit', edit_font_path(@font)
\|
= link_to 'Back', fonts_path
