%p#notice= notice

%p
  %b Name:
  = @font.name

= link_to 'Back', fonts_path

%pre{:class => 'brush: java'}
  = Language.all.first.snippet

:javascript
  $(function() {
    Progfonts = {};
    Progfonts.fonts = #{Font.to_json};
    Progfonts.languages = #{Language.to_json};
    Progfonts.selected_font = "#{@font.unix_name}";
    Progfonts.selected_language = "#{@language}";
  });
