= render 'languages/selector'

%div#container

:javascript
  Progfonts.fonts = #{@fonts_json};
  Progfonts.languages = #{@languages_json};
  Progfonts.selectedFont = "#{@font.unix_name}";
  Progfonts.selectedLanguage = "#{@language}";
  Progfonts.renderTo($('#container'));
  SyntaxHighlighter.all()
