!!!
%html
  %head
    %title Programming Fonts
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #header
      %h1 Programming Fonts
    .bar
      &nbsp;
    #language_selector
      = render 'languages/selector'
    .bar
    = yield
